%section
  .container.visitor-section
    .row.text-center
      %h1= "example".capitalize.pluralize
      %hr.colored
    .row
      .col-md-12
        .panel.panel-focus.filterable
          .panel-heading
          %div.table-responsive
            %table.table-focus.table.table-condensed.table-hover
              %thead
                %tr
                  %th Email
                  %th
              %tbody
                - @public_users.each do |user|
                  %tr
                    %td= user.email
                    %td
                      .pull-right.btn-group
                        - unless user.id == @example_user_id
                          =link_to 'View As', view_user_path(user.id), :method=> :post, :class => "btn btn-success btn-xs"
                        - else
                          =link_to 'Stop Viewing', view_user_path(user.id), :method=> :delete, :class => "btn btn-danger btn-xs"
