/ .jumbotron
/   %h1 Navbar example
/   %p This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
/   %p To see the difference between static and fixed top navbars, just scroll.
/   %p
/     %a.btn.btn-lg.btn-primary{:href => "../../components/#navbar", :role => "button"} Request Invite »
%section
  .well.jumbotron
    %h1.cover-heading Make your Plan.
    %br
    %p.lead Devise a plan to divide, conquer and predict your finances through Intelligent bill forecasting. Keep track of purchases and recieved funds.
    %br
    %p.lead Be prepared, take charge of your expenses!
    %p.lead
      %a.btn.btn-lg.btn-primary{:href => "mailto:invite@ryknzu.com?subject=Invite please."} Be prepared, get invited!
      -# .btn-group
      -#   %button.btn.btn-danger{:type => "button"} Action
      -#   %button.btn.btn-danger.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
      -#     %span.caret
      -#     %span.sr-only Toggle Dropdown
      -#   %ul.dropdown-menu{:role => "menu"}
      -#     %li
      -#       %a{:href => "#"} Action
      -#     %li
      -#       %a{:href => "#"} Another action
      -#     %li
      -#       %a{:href => "#"} Something else here
      -#     %li.divider
      -#     %li
      -#       %a{:href => "#"} Separated link      .input-group
      -#       -#  %span.input-group-addon
      -#       -#    %input{"aria-label" => "Send Confirmation", :type => "checkbox"}
      -#       -#  %a.btn.btn-lg.btn-primary{:href => "mailto:invite@ryknzu.com?subject=Invite please."} Be prepared, get invited!
      -#       -#%input.form-control{"aria-label" => "...", :type => "text"}
