%section
  .well.jumbotron
    %h1.cover-heading Forecast your Finances.
    %br
    %p.lead 
      Devise a plan to divide, conquer and predict your finances through 
      Intelligent bill forecasting. Keep track of purchases and income and
      forecast your future balance
    %br
    %p.lead Be prepared, take charge of your expenses!
    %p.lead
      = link_to 'Sign me up!', new_user_registration_path, class: 'btn btn-lg btn-primary'