%section.jumbotron-bg.text-center
  %h1 Forecast your Finances
  %hr

%section.landing-splash
  .jumbotron.well.lead
    %p Take charge of your expenses!
    %p
      Devise a plan to divide, conquer and predict your finances through 
      Intelligent bill forecasting. Keep track of purchases and income and
      forecast your future balance.
      .pull-right
        Already have an account?
        = link_to 'Sign in', new_user_session_path
      = link_to 'Sign up!', new_user_registration_path, class: 'btn btn-lg btn-primary'
      
  