%div.table-responsive
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Date
    %tbody
      - exclusions.each do |exclusion|
        %tr
          %td= best_in_place exclusion, :date, as: :input, :display_with => lambda { |v| v.to_date }
          %td
            = link_to_delete(exclusion)
