@import "bootstrap-sprockets";
@import "bootstrap";
@import url("//fonts.googleapis.com/css?family=Roboto:200,400");
@import url("//fonts.googleapis.com/css?family=Raleway:900");

$black_50: rgba(0, 0, 0, 0.5);
$primary: #51bf87;
$secondary: #f6f6f6;
$tertiary: #e8e8e8;
$nav-color: #222;
$nav-text: #9d9d9d;
$nav-text-hover: #fff;
$well-color: #f8f8ff;

html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #808080;
	background-image: linear-gradient(to bottom, #f9f9f9, #8f8e8d);
}

.copyright {
	padding-left: 20px;
	padding-right: 20px;
}

// apply styles to HTML elements
// to make views framework-neutral
main {
	@extend .container;
	width: 100%;
	margin-top: 0px !important;
	min-height: 91%;
	margin-top: 51px; // accommodate the navbar
	padding-bottom: 10px;
	width: 100%;
}

section {
	@extend .row;
	margin-top: 20px;
}

.form-btn {
	@extend .container;
	margin: 10px;
	display: none;
}

.img-centered {
	margin: 0 auto;
}
.content-row {
	margin-top: 30px;
}
visitor-section {
	min-height: 355px;
}
@media (max-width: 767px) {
	section {
		padding: 75px 0;
	}
}

a {
	color: $primary;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
}
p {
	font-size: 18px;
	line-height: 1.5;
}
h1,
h2 {
	font-weight: 900;
	//text-transform: uppercase;
}
@media (min-width: 481px) {
	h1 {
		font-size: 3em !important;
	}
	h2 {
		font-size: 2.75em !important;
	}
}

h1 small {
	font-size: 50% !important;
}

hr {
	max-width: 100px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 2px;
	margin: 15px auto;
}
hr.left {
	margin: 15px auto 15px 0;
}
hr.right {
	margin: 15px 0 15px auto;
}
hr.colored {
	border-color: $primary;
	border-width: medium;
}
@media (min-width: 768px) {
	hr {
		max-width: 320px;
		margin: 20px auto;
	}
	hr.left {
		margin: 20px auto 20px 0;
	}
	hr.right {
		margin: 20px 0 20px auto;
	}
}
.text-primary {
	color: $primary;
}

// make all images responsive by default
img {
	@extend .img-responsive;
	margin: 0 auto;
}

div.well {
	background-color: $well-color;
}

// override for the 'Home' navigation link

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
	@extend .col-md-6;
	@extend .text-center;
}
.form {
	@extend .col-md-6;
}
.form-centered {
	@extend .col-md-6;
	@extend .text-center;
}
.submit {
	@extend .btn;
	@extend .btn-primary;
	@extend .btn-lg;
}

.text-info {
	color: white;
}
