$brand-debit: #db5566;
$brand-credit: #51bf87;
$brand-charge: #f4ad49;

.label-debit {
  background-color: $brand-debit;
  //border-bottom:2px solid #af4451;
}

.label-credit {
  background-color: $brand-credit;
  //border-bottom:2px solid #41996c;
}
.label-adjustment {
  background-color: $brand-charge;
}

.btn-info {
border-bottom:2px solid #098aa9;
}

.btn-info:hover,.btn-info.active:focus, .btn-info:focus, .open>.dropdown-toggle.btn-info {
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-success {
border-bottom:2px solid #41996c;
}

.btn-success:hover,.btn-success.active:focus, .btn-success:focus, .open>.dropdown-toggle.btn-success {
border-bottom:2px solid #529f78;
outline: none;
}

.btn-danger {
border-bottom:2px solid #af4451;
}

.btn-danger:hover,.btn-danger.active:focus, .btn-danger:focus, .open>.dropdown-toggle.btn-danger {
border-bottom:2px solid #b25560;
outline: none;
}