//@import "bootstrap-sprockets";
//@import "bootstrap";
//@import url('//fonts.googleapis.com/css?family=Roboto:200,400');
//@import url('//fonts.googleapis.com/css?family=Raleway:900');

$primary: #5CB85C;
$secondary: #f6f6f6;
$tertiary: #e8e8e8;
$nav-color: #222;
$nav-text: #9d9d9d;
$nav-text-hover: #fff;
$well-color: #F8F8FF;

.navbar-fixed-top {
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
{
  color: white !important;
  background-color: $primary !important;
}
.navbar-default {
  background-color: $primary;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar-inverse {
  background-color: $nav-color;
}
.navbar-default,
.navbar-inverse,
.navbar-visitor {
  border-bottom: .4em solid $primary !important;
}
.navbar-default .navbar-brand,
.navbar-inverse .navbar-brand {
  padding: 0 15px;
  color: white !important;
  opacity: 1;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.dropdown-menu {
	background-color: $nav-color !important;
	border-bottom: .4em solid $primary !important;
}

a.navbar-brand {
	font-size: 2.75em;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-brand:hover,
.navbar-inverse .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-inverse .navbar-brand:focus {
  opacity: 1;
}
.navbar-default .navbar-nav li a,
.navbar-inverse .navbar-nav li a {
  color: $nav-text;
  font-size: 1.2em;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-default .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:hover {
  color: $nav-text-hover;
}
@media (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .stop-view > a,
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    border-radius: 5px;
  }
  .navbar-fixed-top.navbar-expanded {
    padding: 30px 0;
  }
  .navbar-fixed-top {
    padding: 15px 0;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    transition: padding 0.5s;
  }
  .navbar-fixed-top .navbar-brand:hover {
    opacity: 0.5;
  }
  .navbar-default.navbar-expanded,
  .navbar-inverse.navbar-expanded {
    background: transparent;
    border: none;
  }
  // .navbar-default .navbar-nav li a,
  // .navbar-inverse .navbar-nav li a {
  //   color: $nav-color;
  //   font-family: "Roboto","Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // }
  .navbar-inverse .navbar-nav li.dropdown-link a {
		background: transparent;
		color: #9d9d9d;
	}
	.navbar-inverse .navbar-nav li.dropdown-link a:hover {
		color: #fff;
	}
	li.dropdown.open a{
		background: $nav-color !important;
	}
}
.navbar a:focus {
  outline: none;
}
.navbar .navbar-nav li a:focus {
  outline: none;
}
header {
  position: relative;
  display: block;
  height: auto;
  width: auto;
  background-color: #000;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header .intro-content {
  color: white;
  text-align: center;
  position: relative;
}
header .brand-name {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 15px;
}
header .brand-name-subtext {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}
header img {
  max-width: 150px;
  max-height: 150px;
}
header .scroll-down {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
header .scroll-down .btn {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
header .scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}
@media (min-width: 768px) {
  header {
    //height: 100%;
    width: 100%;
    padding: 0;
    background-attachment: scroll;
  }
  header .intro-content {
    color: white;
    text-align: center;
    width: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  header .brand-name {
    font-size: 80px;
    line-height: 80px;
  }
  header .brand-name-subtext {
    font-size: 30px;
    line-height: 30px;
  }
  header img {
    max-width: 300px;
    max-height: 300px;
  }
}
@media (min-width: 1025px) {
  header {
    background-attachment: fixed;
  }
}
header.video .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 998;
  opacity: 0;
}
header.video .intro-content {
  z-index: 999;
}
header.video .scroll-down {
  z-index: 999;
}
@media (min-width: 768px) {
  header.video .overlay {
    opacity: 0.5;
  }
}


#footerwrap {
	background: $nav-color;
	padding: 25px 0 15px 0;
	border-top: .4em solid $primary;
	text-align: center;
}
#footer {
	line-height: 40px;
	color: #9d9d9d;
	font-weight: 400;
}
#footer a {
	border-bottom: none;
  background: transparent;
  color: #9d9d9d;
}
#footer a:hover {
	color: #fff;
	text-decoration: 1px dotted;
}
#footer h4 {
	color: white;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  position: relative;
  bottom: -60px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $nav-color;
  padding: 0;
  border-top: .4em solid $primary;
}


.btn,
.input-group-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary {
  color: #ffffff;
  background-color: $primary !important;
  border-color: $primary !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #3A7C3A !important;
  border-color: #3A7C3A !important;
}

.stop-view a{
  color: #ffffff !important;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: $primary;
  border-color: $primary;
}
.btn-primary .badge {
  color: $primary;
  background-color: #ffffff;
}
