= form_for @transaction, html: {role: 'form', class: 'form-inline pull-right', remote: true} do |f|
  = f.hidden_field :date, value: Date.current
  = f.hidden_field :summary, value: "Readjustment"
  = f.text_field :amount, value: current_user.bank.balance, placeholder: 'New Balance', class: 'form-control', style:'height:22px;'
  .form-group
    %button.btn.btn-primary.btn-xs.btn-group{:type => "submit"} Adjust