%nav.navbar.navbar-fixed-top.navbar-inverse{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Finance Forecaster', root_url, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        = render "layouts/navigation_links_#{user_signed_in? ? 'auth' : 'visitor'}"
